/.settings/
/fresco-core/.classpath
/fresco-core/.factorypath
/fresco-core/.project
/fresco-core/.settings/
/fresco-core/target/
/fresco-quiz/.settings/
/fresco-quiz/LOGGER/
/fresco-quiz/.factorypath
/fresco-quiz/.classpath
/fresco-quiz/.project
